<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

<f:view contentType="text/html">
    <h:head>
        <meta charset="UTF-8"/>
        <title>JSF Imenik - #{pageTitle}</title>
        <h:outputStylesheet library="imenik" name="css/main.css"/>
        <h:outputStylesheet library="bootstrap" name="css/bootstrap.css"/>
    </h:head>
    <h:body>
        <nav class="navbar navbar-default">
            <div class="navbar-inner">
                <ul class="nav navbar-nav">
                    <li><h:outputLink value="home.xhtml">Home</h:outputLink></li>
                    <li><h:outputLink value="users.xhtml">Users</h:outputLink></li>
                    <li><h:outputLink value="githubApi.xhtml">GithubApi</h:outputLink></li>
                    <li><h:outputLink value="upload.xhtml">File upload</h:outputLink></li>

                    <ui:fragment rendered="#{not userManager.signedIn}">
                        <li><h:outputLink value="login.xhtml">Login</h:outputLink></li>
                    </ui:fragment>

                    <ui:fragment rendered="#{userManager.signedIn}">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                #{userManager.currentUser.username}
                                <b class="caret"/>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#" class="btn btn-block">Profile</a></li>
                                <li>
                                    <h:form>
                                        <h:commandLink action="#{userManager.signOut}"
                                                       styleClass="btn btn-block">Sign out</h:commandLink>
                                    </h:form>
                                </li>
                            </ul>
                        </li>
                    </ui:fragment>

                </ul>
            </div>
        </nav>

        <div class="col-md-offset-1 col-md-10">
            <ui:insert name="panel-body">
                <div>Main body</div>
            </ui:insert>
        </div>

        <footer>
            <h:outputScript library="" name="/jquery-3.1.1.js"/>
            <h:outputScript library="bootstrap" name="js/bootstrap.js"/>
        </footer>
    </h:body>
</f:view>

</html>