<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

<ui:composition template="templates/page-template.xhtml">
    <ui:param name="pageTitle" value="Github api call page"/>
    <f:metadata>
        <f:viewAction action="#{githubApi.onLoad}"/>
    </f:metadata>

    <ui:define name="panel-body">
        <h3>Github api call page</h3>
    </ui:define>

</ui:composition>

</html>
