<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:f="http://xmlns.jcp.org/jsf/core">

<ui:composition template="templates/page-template.xhtml">
    <ui:param name="pageTitle" value="Upload"/>

    <ui:define name="panel-body">
        <div>
            <h:form id="form" enctype="multipart/form-data">
                <h2>Upload text file</h2>
                <h:inputFile id="file" value="#{fileUController.file}" validator="#{fileUController.validateFile}"/>
                <h:commandButton value="Upload" action="#{fileUController.upload}"/>
            </h:form>
        </div>

        <div style="margin-top: 30px;">
            <h:dataTable value="#{fileUServiceImpl.getAllFileUs()}" var="file"
                         styleClass="table table-responsive table-bordered">
                <h:column>
                    <f:facet name="header">Id</f:facet>
                    #{file.id}
                </h:column>
                <h:column>
                    <f:facet name="header">Name</f:facet>
                    #{file.name}
                </h:column>
                <h:column>
                    <f:facet name="header">Path</f:facet>
                    #{file.path}
                </h:column>
            </h:dataTable>
        </div>

    </ui:define>

</ui:composition>

</html>
