<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

<ui:composition template="templates/page-template.xhtml">
    <f:metadata>
        <f:viewAction action="#{userDetails.onLoad}"/>
    </f:metadata>
    <ui:param name="pageTitle" value="Login"/>

    <ui:define name="panel-body">
        <section>
            <h:messages errorClass="alert alert-danger" warnClass="alert alert-warning"/>
            <h:form>
                <h:panelGrid columns="2" styleClass="form-grid" columnClasses="form-column-label,form-column-input">
                    <h:outputLabel for="username">Username</h:outputLabel>
                    <h:inputText id="username" value="#{userDetails.user.username}" size="20"
                                 readonly="#{userManager.signedIn}"/>

                    <h:outputLabel for="password">Password</h:outputLabel>
                    <h:inputSecret id="password" value="#{userDetails.user.password}" size="20"/>

                    <h:outputLabel for="emailAddress">E-mail address</h:outputLabel>
                    <h:inputText id="emailAddress" value="#{userDetails.user.email}" size="20"/>

                    <h:outputText value=""/>
                    <h:commandButton value="Submit" action="#{userDetails.submit}"/>
                </h:panelGrid>
            </h:form>
        </section>
    </ui:define>

</ui:composition>

</html>
